<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
</head>
<body>
    <p><%=message %></p>
    <a href="<%= finalfile %>" download >Download</a>
    <a href="/">Select files</a>
</body>
<script>
    window.addEventListener('unload',()=>{
        fetch('/deletefiles',{method:'GET'})
    })
</script>
</html>